.list_container {
    width: 500px;
    margin: 0 auto;
    padding: 3em;
    text-align: center;

  }
  
  .list_container h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .list_container ul {
    list-style: none;
    padding: 0;
  }
  
  .list_container li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  .list_container p {
    margin: 0;
  }
  
  .list_container p:first-child {
    font-weight: bold;
  }
  
  .list_container p:not(:first-child) {
    margin-top: 5px;
  }
 